/*
 * Copyright (c) 2019 LG Electronics Inc.
 * SPDX-License-Identifier: MIT
 */

#include <gtest/gtest.h>
#include "echo/echo.hpp"

class SampleTest : public ::testing::Test {{
}};

TEST_F(SampleTest, testEcho) {{
  EXPECT_EQ(1, echo(1));
}}
